*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: rgb(191, 249, 252);
    display: grid;
    place-items:center;   
}


.otp-container{
    box-shadow: -15px 15px 30px rgb(87, 87, 87);
    border-radius: 30px;
}


.otp-form {
    width: 850px;
    height: 450px;
    background: linear-gradient(180deg, #016ec2, #024fb4);
    padding: 35px 30px;
    border: px solid #838485;
    border-radius: 30px;
    box-shadow:
        inset 0 0 50px rgb(16 16 16 / 80%),
        inset 0 0 90px rgb(14 14 14 / 15%);
    text-align: center;
}


.otp-form .error{
    text-align:center;
    list-style: none;
    font-size: 20px;
    font-family: math;
    text-transform: uppercase;
    color: #ff4d4d;
}


.otp-form h2{
    color: rgb(254, 254, 255);
    font-size: 45px;
    margin: 35px;
    font-family: math;
    text-shadow: -10px 6px 8px rgba(9, 9, 9, 0.6);      
}


.otp-form .row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}


.otp-form input{
    width: 95%;
    padding: 7px;
    font-size: 40px;
    text-align:center;
    letter-spacing: 5px;
    background-color: rgb(253, 254, 254);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: inset 0 3px 8px #6c6b6bc4,
                inset -4px 0 8px #6c6b6bc4;
}


.otp-form button{
    width: 25%;
    margin-top: 20px;
    padding: 15px;
    font-size: 30px;
    color: white;
    background-color: rgb(69, 199, 250);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow:
        0 5px 10px #9c9c9c,
        0 15px 15px rgba(0,0,0,0.5);
    transition: all 0.15s ease;   
}


/* ==============================Mobile Responsive============================ */


@media (max-width: 1080px){

    .otp-form {
        width: 900px;
        height: 1000px;
        padding: 35px 30px;  
    }

    .otp-form .error{
        font-size:40px;
        margin-top: 40px;
    }

    .otp-form h2{
        font-size: 75px;
        margin: 150px 0px 0px 0px;        
    }

    .otp-form input{
        width: 98%;
        padding: 12px;
        font-size: 50px;
        letter-spacing: 5px;
        margin-top: 140px;
    }

    .otp-form button{
        width: 45%;
        margin-top: 100px;
        padding: 15px;
        font-size: 50px;  
    }
}    