*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: rgb(191, 249, 252);
    display: grid;
    place-items:center;   
}


.menu-container{
    box-shadow: -15px 15px 30px rgb(87, 87, 87);
    border-radius: 30px;
}


.menu-form {
    width: 850px;
    height: 450px;
    background: linear-gradient(180deg, #016ec2, #024fb4);
    padding: 35px 30px;
    border: px solid #838485;
    border-radius: 30px;
    box-shadow:
        inset 0 0 50px rgb(16 16 16 / 80%),
        inset 0 0 90px rgb(14 14 14 / 15%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
   
}


.left-button{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;  
    padding: 0 20px 20px 70px;
}

.right-button {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
    padding : 0 70px 20px 20px;
}


.menu-form button,
.menu-form a{
    width: 160px;
    margin-top: 70px;
    padding: 18px;
    font-size: 25px;
    color: rgb(229, 243, 255);
    background-color: rgb(69, 199, 250);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: math;
     box-shadow:
        0 5px 10px #9c9c9c,
        0 15px 15px rgba(0,0,0,0.5);
    transition: all 0.15s ease; 
}   


.menu-form button:active,
.menu-form a:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 #9c9c9c,
        0 6px 10px rgba(0,0,0,0.5);
}


.menu-form button:hover,
.menu-form a:hover {
    background-color: rgb(131, 219, 253);
}


/* ==============================Mobile Responsive============================ */


@media (max-width: 1080px){

     .menu-form {
        width: 900px;
        height: 1000px;
        padding: 35px 30px;
    }

    .left-button{ 
        padding: 0 40px 20px 30px;
    }

    .right-button {
        padding : 0 30px 20px 20px;
    }

    .menu-form button,
    .menu-form a{
        width: 300px;
        margin-top: 230px;
        padding: 18px;
        font-size: 45px;   
    }   
}
