*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: rgb(191, 249, 252);
    display: grid;
    place-items:center;   
}


.show-balance-container{
    box-shadow: -15px 15px 30px rgb(87, 87, 87);
    border-radius: 30px;
}


.show-balance-form {
    width: 850px;
    height: 450px;
    background: linear-gradient(180deg, #016ec2, #024fb4);
    padding: 35px 30px;
    border: px solid #838485;
    border-radius: 30px;
    box-shadow:
        inset 0 0 50px rgb(16 16 16 / 80%),
        inset 0 0 90px rgb(14 14 14 / 15%);
    text-align: center;
}


.show-balance-form h2{
    color: rgb(161, 230, 252);
    font-size: 45px;
    margin: 25px;
    font-family: math;
    text-shadow: -10px 6px 8px rgba(9, 9, 9, 0.6);      
}



.show-balance-form p{
    color: rgb(254, 254, 255);
    font-size: 30px;
    margin: 35px;
    font-family: math;
    text-shadow: -10px 6px 8px rgba(9, 9, 9, 0.6);      
}


.show-balance-form a{
    display: block;
    width: 200px;
    margin: 15px 290px ;
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    font-family: math;
    color: white;
    background-color: rgb(69, 199, 250);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow:
        0 5px 10px #9c9c9c,
        0 15px 15px rgba(0,0,0,0.5);
    transition: all 0.15s ease;   
}


.show-balance-form a:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 #9c9c9c,
        0 6px 10px rgba(0,0,0,0.5);
}

.show-balance-form a:hover{
    background-color: rgb(131, 219, 253);
}


/* ==============================Mobile Responsive============================ */


@media (max-width: 1080px){

    .show-balance-form {
        width: 900px;
        height: 1000px;
        padding: 35px 30px;
    }

    .show-balance-form h2{
        font-size: 80px;
        margin: 110px 0px;      
    }

    .show-balance-form p{
        font-size: 60px;
        margin: 70px 0px;      
    }

    .show-balance-form a{
        display: block;
        width: 300px;
        margin: 50px 260px;
        padding: 25px;
        font-size: 60px;  
    }
}