*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: rgb(191, 249, 252);
    display: grid;
    place-items:center;   
}


.cash-container{
    box-shadow: -15px 15px 30px rgb(87, 87, 87);
    border-radius: 30px;  
}

.cash-form h2 {
    margin-bottom: 15px;
    font-size: 16px;
}    


.cash-form .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 25px 0;
}


.cash-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 850px;
    height: 450px;
    background: linear-gradient(180deg, #016ec2, #024fb4);
    padding: 35px 30px;
    border: px solid #838485;
    border-radius: 30px;
    box-shadow:
    inset 0 0 50px rgb(16 16 16 / 80%),
    inset 0 0 90px rgb(14 14 14 / 15%);
    text-align: center;
}


.error-box .error {
    color: #ff4d4d;
    font-size: 22px;
    margin: 0px 100px 0px 0px;
    text-align: right;
    text-transform: uppercase;
    list-style: none;
    font-family: math;
}


.error-box .collect{
    color: #3ce105;
    font-size: 22px;
    margin: 0px 100px 0px 0px;
    text-align: right;
    text-transform: uppercase;
    list-style: none;
    font-family: math;
}


.cash-form h2{
    margin: 0;
    font-size: 40px;
    text-align: right;
    padding-right:60px;
    color: rgb(254, 254, 255);
    font-family: math;
    text-shadow: -10px 6px 8px rgba(9, 9, 9, 0.6);      
}


.cash-form input{
    width: 80%;
    margin-left: 60px;
    padding: 7px;
    font-size: 40px;
    text-align:center;
    letter-spacing: 5px;
    background-color: rgb(253, 254, 254);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: inset 0 3px 8px #6c6b6bc4,
                inset -4px 0 8px #6c6b6bc4;
}


.cash-form button{
    align-self:self-end;
    margin: 30px 50px 0px 0px;
    width: 52%;
    padding: 15px;
    font-size: 30px;
    color: white;
    background-color: rgb(69, 199, 250);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow:
        0 5px 10px #9c9c9c,
        0 15px 15px rgba(0,0,0,0.5);
    transition: all 0.15s ease;   
}


.cash-form button:active {
    transform: translateY(4px);
    box-shadow:
        0 2px 0 #9c9c9c,
        0 6px 10px rgba(0,0,0,0.5);
    }
    
.card-form button:hover{
    background-color: rgb(131, 219, 253);
}
    
    
/* ==============================Mobile Responsive============================ */


@media (max-width: 1080px){

.cash-form h2 {
        margin-bottom: 15px;
        font-size: 26px;
    }    

    .cash-form .row {
        margin: 25px 0;
    }

    .cash-form {
        width: 900px;
        height: 1000px;
        padding: 35px 30px;
    }

    .error-box .error {
        font-size: 42px;
        margin: 0px 100px 0px 0px;
    }

    .error-box .collect{
        font-size: 42px;
        margin: 0px 100px 0px 0px;
    }

    .cash-form h2{
        margin-top: 100px;
        font-size: 60px;
        padding-right: 0px;
    }

    .cash-form input{
        width: 85%;
        margin: 80px 0px 0px 40px;
        padding: 10px;
        font-size: 50px;
        letter-spacing: 8px;
    }

    .cash-form button{
        margin: 30px 50px 150px 0px;
        width: 56%;
        padding: 15px;
        font-size: 50px;
    }
}