<!DOCTYPE html>
<html>
<head>
    <title>Reset PIN</title>
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">
</head>
<body>
    <div class="reset-otp-container">
    <form method="POST" class="reset-otp-form">
        <h2>RESET PIN</h2>

        <div class="row">
        <h2>CARD:</h2>
        <input type="text" name="card" required><br>
        </div>

        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="error">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
        

        <button type="submit">Send OTP</button>
    </form>
    </div>
</body>
</html>
