<!DOCTYPE html>
<html lang="en">
<head>
    <title>withdraw case</title>
    <link rel="stylesheet" href="{{url_for('static', filename='withdraw_cash.css')}}">
</head>
<body>
    <div class="cash-container">

        <form method="post" class="cash-form">

            <div class="row">
                <h2>AMOUNT:</h2>
                <input type="number" name="amount" required>
            </div>
            <div class="row">
                <h2>PIN:</h2>
                <input type="password" name="pin" required> 
            </div>
            
            <div class="error-box">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == "amount" %}
                        <p class="error">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
            {% endwith %}
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == "pin" %}
                        <p class="error">{{ message }}</p>
                     {% endif %}
                {% endfor %}
            {% endwith %}
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == "balance" %}
                        <p class="error">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endwith %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == "collect" %}
                        <p class="collect">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>

        <button type="submit">WITHDRAW</button>
        
        </form>
    </div>

</body>
</html>